<mat-toolbar class="mat-elevation-z2">
    <span class="cursor-pointer" routerLink="home">Social Net</span>
    <span class="flex-auto"></span>
    @if (user$ | async; as user) {
    <button mat-stroked-button [matMenuTriggerFor]="menu">
        <mat-icon fontIcon="account_circle"></mat-icon>
        {{user.username}}
    </button>
    <mat-menu #menu="matMenu">
        <a mat-menu-item [routerLink]="['profile', user.id]">
            <mat-icon>person</mat-icon>
            Profile
        </a>
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            Logout
        </button>
    </mat-menu>
    }
</mat-toolbar>