<div class="h-full flex flex-col">
  <div class="h-1/4 w-full bg-black flex justify-center items-center">
    <div class="flex flex-col items-center gap-2">
      <div class="h-20 w-20 bg-red-500 rounded-full border-2"></div>
      <div class="text-white">{{ loggedInUser.username }}</div>
      <div class="text-white">{{ loggedInUser.email }}</div>
    </div>
  </div>
  <div class="grow pt-6">
    <!-- What's on your mind component -->
    <app-new-post [user]="loggedInUser"></app-new-post>

    <div class="flex flex-col gap-4 mx-12 mt-4">
      @for (post of posts(); track $index) {
        <app-post [post]="post"></app-post>
      }
    </div>
  </div>
</div>
