<div class="h-full flex flex-col">
  <div
    class="h-1/4 w-full bg-black flex justify-center items-center"
    [ngStyle]="{
      'background-image': 'url(' + loggedInUser.backgroundUrl + ')',
    }"
  >
    <div class="flex flex-col items-center gap-2">
      <div
        class="h-20 w-20 bg-red-500 rounded-full border-2 bg-center bg-contain"
        [ngStyle]="{
          'background-image': 'url(' + loggedInUser.avatarUrl + ')',
        }"
      ></div>
      <div class="text-white">{{ loggedInUser.username }}</div>
      <div class="text-white">{{ loggedInUser.email }}</div>
    </div>
  </div>
  <div class="grow pt-6">
    <!-- What's on your mind component -->
    <app-new-post [loggedInUser$]="loggedInUser$"></app-new-post>

    <div class="flex flex-col items-center w-1/2 gap-4 m-auto">
      @for (post of posts$ | async; track $index) {
        <app-post [post]="post"></app-post>
      } @empty {
        <p>No results yet!</p>
      }
    </div>
  </div>
</div>
