<div class="h-full flex flex-col overflow-y-scroll">
  <div
    class="h-1/4 w-full bg-black flex justify-center items-center p-3"
    [ngStyle]="{
      'background-image': 'url(' + profileUser()?.backgroundUrl + ')',
    }"
  >
    <div class="flex flex-col items-center gap-2">
      <div
        class="h-20 w-20 bg-red-500 rounded-full border-2 bg-center bg-contain"
        [ngStyle]="{
          'background-image': 'url(' + profileUser()?.avatarUrl + ')',
        }"
      ></div>
      <div class="text-white backdrop-blur p-1">
        {{ profileUser()?.username }}
      </div>
      <div class="text-white backdrop-blur p-1">{{ profileUser()?.email }}</div>
    </div>
  </div>
  <div class="grow pt-6">
    <!-- What's on your mind component -->
    <app-new-post [profileUser]="profileUser"></app-new-post>

    <div class="flex flex-col items-center w-1/2 gap-4 m-auto">
      @for (post of $posts(); track $index) {
        <app-post
          class="w-full"
          [postsLoading]="$postsLoading()"
          [post]="post"
          [authenticatedUser]="authenticatedUser()"
        ></app-post>
      } @empty {
        <p>No results yet!</p>
      }
    </div>
  </div>
</div>
