<mat-card>
  <mat-card-header>
    <div
      class="bg-center bg-contain"
      mat-card-avatar
      [ngStyle]="{ 'background-image': 'url(' + post().author.avatarUrl + ')' }"
    ></div>
    <mat-card-title>{{ post().author.username }}</mat-card-title>
    <mat-card-subtitle class="!font-thin">{{
      post().createdAt | dateAgo
    }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{ post().content }}
    @if (post().imageUrl) {
      <img
        mat-card-image
        src="{{ post().imageUrl }}"
        alt="Photo of a Shiba Inu"
      />
    }
  </mat-card-content>
  <mat-card-actions class="!flex-col">
    <div class="flex items-center gap-1 w-full">
      @if (post().likes.length) {
        <mat-icon>favorite</mat-icon>
        <div>{{ post().likes.length }}</div>
      }
    </div>
    <mat-divider class="w-full"></mat-divider>
    <div class="w-full flex justify-evenly">
      <button mat-button [color]="post().hasUserLiked ? 'accent' : 'primary'">
        <mat-icon>thumb_up</mat-icon>
        Like
      </button>
      <button mat-button>
        <mat-icon>comment</mat-icon>
        Comment
      </button>
    </div>
  </mat-card-actions>
</mat-card>
