<mat-card>
  <mat-card-header>
    <div
      class="bg-center bg-contain"
      mat-card-avatar
      [ngStyle]="{ 'background-image': 'url(' + post().author.avatarUrl + ')' }"
    ></div>
    <mat-card-title>{{ post().author.username }}</mat-card-title>
    <mat-card-subtitle class="!font-thin">{{
      post().createdAt | dateAgo
    }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{ post().content }}
    @if (post().imageUrl) {
      <img
        mat-card-image
        src="{{ post().imageUrl }}"
        alt="Photo of a Shiba Inu"
      />
    }
  </mat-card-content>
  <mat-card-actions class="!flex-col !p-5">
    <div class="flex items-center gap-1 w-full">
      @if (post().likes.length) {
        <mat-icon>favorite</mat-icon>
        <div>{{ post().likes.length }}</div>
      }
    </div>
    <mat-divider class="w-full !mt-2 !mb-2"></mat-divider>
    <div class="w-full flex justify-around">
      <button
        mat-button
        (click)="likeOrUnlike()"
        [color]="post().hasUserLiked ? 'accent' : 'primary'"
      >
        <mat-icon>thumb_up</mat-icon>
        Like
      </button>
      <button mat-button (click)="focusNewCommentTextArea()">
        <mat-icon>comment</mat-icon>
        Comment
      </button>
    </div>
    @if (post().comments.length > 0) {
      <mat-divider class="w-full !mt-2 !mb-2"></mat-divider>
      <div class="w-full flex flex-col gap-6 mt-2 mb-2">
        @for (comment of post().comments; track $index) {
          <app-comment [comment]="comment"> ></app-comment>
        }
      </div>
    }
    <mat-divider class="w-full !mt-2 !mb-2"></mat-divider>
    <app-new-comment
      class="w-full"
      [postsLoading]="postsLoading()"
      [authenticatedUser]="authenticatedUser()"
      [post]="post()"
    ></app-new-comment>
  </mat-card-actions>
</mat-card>
