<mat-card>
  <mat-card-header>
    <div
      class="bg-center bg-contain"
      mat-card-avatar
      [ngStyle]="{ 'background-image': 'url(' + post().author.avatarUrl + ')' }"
    ></div>
    <mat-card-title>{{ post().author.username }}</mat-card-title>
    <mat-card-subtitle class="!font-thin">{{
      post().createdAt | dateAgo
    }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{ post().content }}
    @if (post().imageUrl) {
      <img
        mat-card-image
        src="{{ post().imageUrl }}"
        alt="Photo of a Shiba Inu"
      />
    }
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
