<div class="h-full flex justify-center items-center">
    <mat-card appearance="outlined" class="w-1/2 h-1/2 px-16 flex flex-col justify-around">
        <mat-card-header class="mx-auto">
            <mat-card-title>Welcome to Social Net</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="login()" class="flex flex-col">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password">
                </mat-form-field>
                <button type="submit" mat-flat-button>Sign In</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
  