<div class="h-full flex flex-col">
    <div class="h-1/4 w-full bg-black flex justify-center items-center">
        <div class="flex flex-col items-center gap-2">
            <div class="h-20 w-20 bg-red-500 rounded-full border-2"></div>
            <div class="text-white">{{loggedInUser.username}}</div>
            <div class="text-white">{{loggedInUser.email}}</div>
        </div>
    </div>
    <div class=" grow">

        <!-- What's on your mind component -->
         <mat-card class="w-1/2 mx-auto">
            <mat-card-content class="!flex gap-4">
                <div class="w-10 aspect-square bg-red-500 rounded-full border-2"></div>
                <button mat-flat-button class="flex-1 !justify-start" (click)="openNewPostDialog()">What's on your mind, {{loggedInUser.username}} ?</button>
            </mat-card-content>
         </mat-card>

    </div>
</div>
